#circuit-midi-editor {
    margin: 4%;
    width: 92%;
}

#circuit-title {
    width: 100%;
    text-align: center;
}

.component {
    clear: left;
    width: 100%;
}

.section {
    min-height: 500px;
    float: left;
    width: 24%;
    margin: 1% 0 1% 1%;
}

.parameter {
    margin: 5px 0;
    padding: .25em 0;
}

.changed {
    color: #ff0000;
    font-weight: bold;
}

output, select {
    border: 1px solid black;
    padding: .25em;
    margin: .5em 0 0;
    min-width: 1.5em;
    display: inline-block;
}

.section select {
    width: 100%;
}

.section input[type='range'] {
    min-width: 80%;
}

#web-midi-connection-status {
    width: 80%;
    margin: 20px auto;
    font-weight: bold;
    font-size: 22px;
    color: #000;
    text-align: center;
}

#web-midi-connection-status .error {
    color: #ff0000;
}

#web-midi-connect-device {
    margin: 0 auto;
    display: block;
}

[id$='-patch-select'] {
    min-width: 200px;
}

.patch-export-holder {
    display: none;
}

button {
    margin: 10px;
}

button.active-midi-in {
    background-color: #f00;
    color: #fff;
}

@media (max-width: 1000px) {
    #circuit-midi-editor {
        margin: 2%;
        width: 96%;
    }

    .section {
        width: 32%;
    }
}

@media (max-width: 800px) {
    #circuit-midi-editor {
        margin: 0;
        width: 100%;
    }

    .section {
        width: 49%;
    }
}